@page
@model BUILDPROJECTSHERRY.Pages.Hospital.IndexModel
@{ViewData[Title]="list of hospitals"
}
<h2>Hospitals List</h2>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>State</th>
            <th>City</th>
            <th>Adress</th>
            <th>Phone</th>
            <th># of health care providers</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var hospitals in Models.Hospital)
        {
            <tr>
                <td>@hospital.HospitalName</td>
                <td>@hospital.State</td>
                <td>@hospital.City</td>
                <td>@hospital.Adress</td>
                <td>@hospital.Phone</td>
                <td>
                    <a asp-page="/Patient/Index" asp-route-hospitalId="@hospital.Id">
                        @hospital.patient_count
                    </a>
                </td>
                <td>
                    <a asp-page="/Patient/Index" asp-route-hospitalId="@HealthCare_Provider.Id">
                        @hospital.HealthCareProviders_count
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table> 