@page
@model BUILDPROJECTSHERRY.Pages.patient.IndexModel
@{ViewData["Title"] = "List of Patient";
}
 <h2>Patient List</h2>


    <table class="table">
        <thead>
            <tr>
            <th>First_name</th>
            <th>Last_name</th>
            <th>DOB</th>
            <th>Gender</th>
            <th>SSN</th>
            <th>InsuranceID</th>
            <th># of hosptial</th>
        </tr>
        </thead>
        <tbody>
            @foreach (var patietnts in Model.Patient)
            {
                <tr>
                <td>@patients.first_name</td>
                    <td>@patients.lastname</td>
                    <td>@patients.dob</td>
                    <td>@patients.gender</td>
                    <td>@patients.Ssn</td>
                    <td>@patients.InsuranceID</td>
                <td>@patients.InsuranceID</td>
                </tr>
            }
        </tbody>
    </table>
}
