@page
@model BUILDPROJECTSHERRY.Pages.Patient.IndexModel
@{ViewData["Title"] = "List of Patient";
}
 <h2>Patient List</h2>
 <table class="table">
        <thead>
            <tr>
            <th>First_name</th>
            <th>Last_name</th>
            <th>DOB</th>
            <th>Gender</th>
            <th>SSN</th>
            <th>InsuranceID</th>
        </tr>
        </thead>
        <tbody>
            @foreach (var patietnts in Models.Patient)
            {
              <tr>
                <td>@patients.first_name</td>
                    <td>@patients.lastname</td>
                    <td>@patients.dob</td>
                    <td>@patients.gender</td>
                    <td>@patients.Ssn</td>
                    <td>@patients.InsuranceID</td>
               <td>
                    <a asp-page="/Hospital/Index" asp-route-patientid="@patients.Id">
                    @patients.hospitalcount
                </a>
              </td>
           </tr>
            }
        </tbody>
    </table>
}
